.preview-iframe {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 1px solid #ccc;
}

.preview-iframe-container {
  position: relative;
  overflow: hidden;
  padding-top: 56.25%;
}
